<!DOCTYPE html>
<!--
  通用渲染布局（skinLayout）。

  该布局会在 body 上带 `elem-*` 类，用于元素主题背景（CSS 控制）。
  主要用于 enduid/panel.html 与 enduid/gachalog.html。
-->
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="#"/>
  <link rel="preload" href="{{_res_path}}skin/common/font/HYWH-65W.woff" as="font" type="font/woff">
  <link rel="preload" href="{{_res_path}}skin/common/font/NZBZ.woff" as="font" type="font/woff">
  <link rel="preload" href="{{_res_path}}skin/common/font/tttgbnumber.woff" as="font" type="font/woff">
  <link rel="stylesheet" type="text/css" href="{{_res_path}}skin/common/common.css"/>
  <title>zmd-plugin</title>
  {{block 'css'}}
  {{/block}}
</head>
<body class="elem-{{element||elem||`hydro`}} {{displayMode || mode || `default`}}-mode {{bodyClass}}" {{@sys.scale}}>
<div class="container elem-bg" id="container">
  {{block 'main'}}{{/block}}
  <div class="copyright">{{@sys.copyright}}</div>
</div>
</body>
</html>
